@import 'src/colors.scss';

@font-face {
  font-family: 'Windows95';
  src: url(../../static/fonts/w95fa.woff) format('woff'),
    url(../../static/fonts/w95fa.woff2) format('woff2');
}

.MainWindow {
  width: 1024px;
  height: 768px;
  display: flex;
  flex-direction: column;
  background-color: $desktop-theme;
  cursor: url(../../static/cursor-default.png), auto;
  font-family: Windows95, serif;
  user-select: none;

  & div {
    box-sizing: border-box;
  }

  & img {
    image-rendering: pixelated;
  }
}
