.StartButton {
  width: 49px;
  height: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  background-color: #C0C0C0;
  border: none;
  box-shadow: inset 1px 1px #FFF, inset 2px 2px #DFDFDF, inset -1px -1px #000, inset -2px -2px #808080;
  /*TODO extract*/
  cursor: url(../../../static/cursor-default.png), auto;
  font-family: Windows95, serif;
  font-weight: bold;
}

.StartButton:active, .StartButton:focus {
  border: none;
  outline: none;
}

.StartButtonText {
  margin-left: 1px;
}