.Button {
  background-color: #c0c0c0;
  border: none;
  box-shadow: inset 1px 1px #fff, inset 2px 2px #dfdfdf, inset -1px -1px #000,
    inset -2px -2px #808080;
  cursor: inherit;
  font-family: inherit;

  &:active {
    box-shadow: inset 1px 1px #000, inset 2px 2px #808080, inset -1px -1px #fff,
      inset -2px -2px #dfdfdf;
  }

  &:focus {
    outline: none;
    & > .InnerContainer {
      outline: 1px dotted #000;
    }
  }

  & > .InnerContainer {
    display: flex;
    align-items: center;
  }
}
