@use 'src/styles/colors';
@use 'src/styles/mixins';

.Button {
  @include mixins.standard-border;
  background-color: colors.$base-gray;
  border: none;
  cursor: inherit;
  font-family: inherit;

  &:active {
    @include mixins.standard-border-inverted;
  }

  &:focus {
    outline: none;
    & > .InnerContainer {
      outline: 1px dotted colors.$black;
    }
  }

  & > .InnerContainer {
    display: flex;
    align-items: center;
  }
}
