@font-face {
  font-family: 'Windows95';
  src: url(../static/fonts/w95fa.woff) format('woff'),
  url(../static/fonts/w95fa.woff2) format('woff2');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

div, span, button, input {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 0;
  cursor: inherit;
}

input, textarea {
  border: none;
  font-family: inherit;
  padding: 0;
}

input:focus, textarea:focus {
  outline: none;
}

#root {
  height: 100%;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
