@font-face {
  font-family: 'Windows95';
  src: url(../static/fonts/w95fa.woff) format('woff'),
  url(../static/fonts/w95fa.woff2) format('woff2');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}
