@use 'src/styles/colors';
@use 'src/styles/sizings';

.TaskBar {
  height: sizings.$taskbar-height;
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 4px 2px 2px 2px;
  background-color: colors.$base-gray;
  box-shadow: inset 0 1px colors.$light-gray, inset 0 2px colors.$white;

  & > .Separator {
    margin-left: 2px;
    &:nth-last-child(2) {
      margin-left: auto;
    }
  }

  & > .Timer {
    margin-left: 2px;
  }
}
