.TaskBar {
  height: 27px;
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 4px 2px 2px 2px;
  /*TODO extract as vars*/
  background-color: #c0c0c0;
  box-shadow: inset 0 1px #dfdfdf, inset 0 2px #fff;

  & > .Separator {
    margin-left: 2px;
    &:nth-last-child(2) {
      margin-left: auto;
    }
  }

  & > .Timer {
    margin-left: 2px;
  }
}
