.TaskBar {
  height: 27px;
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 4px 2px 2px 2px;
  /*TODO extract as vars*/
  background-color: #C0C0C0;
  box-shadow: inset 0 1px #DFDFDF, inset 0 2px #FFF;
}

.TaskBar > .Separator {
  margin-left: 2px;
}

.TaskBar > .Separator:nth-last-child(2) {
  margin-left: auto;
}

.TaskBar > .Timer {
  margin-left: 2px;
}