@use 'src/styles/colors';
@use 'src/styles/sizings';
@use 'src/styles/mixins';

.StartMenu {
  @include mixins.standard-border;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: sizings.$taskbar-height - 4px;
  background-color: colors.$base-gray;
}
