@use 'src/styles/colors';

.Timer {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2px;
  border-top: 1px solid colors.$dark-gray;
  border-left: 1px solid colors.$dark-gray;
  border-right: 1px solid colors.$white;
  border-bottom: 1px solid colors.$white;
}

.Icon:not(:first-child) {
  margin-left: 1px;
}

.Time {
  margin-left: 11px;
  font-size: 12px;
}
